.categoryList-container {
  background-color: var(--background-color);
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

.category-container {
  background: linear-gradient(0deg, var(--second-color) 0%, #3d90ddbe 75%);
  letter-spacing: 2.5px;
  font-family: var(--font-family);
  color: var(--text-color);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  border-radius: 4px;
  display: flex;
  justify-content: space-around;
  width: 30vw;
  margin: 5px;
  padding: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.active {
  background: linear-gradient(180deg, #0097fb 0%, #001d9ec4 150%);
  border: 2px solid var(--text-color);
}

@media screen and (min-width: 768px) {
  .categoryList-container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }

  .category-container {
    width: 20vw;
    margin: 7px 10px;
  }
}

@media screen and (min-width: 1100px) {
  .categoryList-container {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
    overflow-x: hidden;
  }

  .category-container {
    width: 14vw;
    margin: 10px;
  }
}
