.ItemInfo,
.ItemInfo-first {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 300px;
  background-color: var(--background-color);
}
.ItemInfo-poster {
  min-width: 300px;
  height: 500px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #d9d9d9;
}
.ItemInfo-resume {
  max-width: 300px;
  margin-bottom: 20px;
  /* color: var(--text-color); */
  background-color: #d9d9d9;

  border: 1px solid green;
}
.ItemInfo-video {
  min-width: 300px;
  margin-bottom: 20px;
  background-color: #d9d9d9;

  border: 1px solid blue;
}

.ItemInfo-info {
  margin-left: 100px;
  margin-right: 100px;
  display: block;
  float: left;
  color: var(--text-color);
  font-family: var(--font-family);
  background-color: var(--background-color);
}
/* .ItemInfo-box-video {
  width: 100%;
  height: 100%;
} */
.ItemInfo-retrouver {
  min-width: 300px;
  text-align: center;
  margin-bottom: 20px;
  /* color: var(--text-color); */
  background-color: #d9d9d9;

  border: 1px solid violet;
}
.ItemInfo-retrouver-sur {
  font-size: 30px;
}
@media screen and (min-width: 786px) {
  .ItemInfo-first {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: var(--background-color);
  }
  .ItemInfo-poster {
    margin-right: 20px;
  }
  .ItemInfo-second {
    display: flex;
  }
  .ItemInfo-info,
  .ItemInfo-resume {
    height: 220px;
    padding: 10px;
  }
  .ItemInfo-info {
    margin-right: 20px;
  }
}
