.cardfilm {
  margin-top: 20px;
  margin-bottom: 50px;
}
.cardItem {
  border: 1px solid black;
  width: 250px;
  height: 450px;
  text-align: center;
  padding-top: 5px;
  background: linear-gradient(0deg, var(--second-color) 0%, #3d90ddbe 20%);
  margin: 10px;
  transition: 0.4s ease-in-out;
}

.cardItem:hover {
  transform: scale(1.03);
}

.cardfilm-poster {
  width: 95%;
}
.cardfilm-title {
  color: var(--text-color);
  padding-top: 10px;
}
.cardfilm-title-text {
  font-family: var(--font-family);
  font-size: 20px;
}
.cardItem:hover,
.cardItem:focus {
  background-color: linear-gradient(
    0deg,
    var(--second-color) 0%,
    #3d90ddbe 75%
  );
  transition: 0.3s;
  box-shadow: 0 4px 6px var(--second-color);
}
.title-box {
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cardfilm-raiting {
  color: yellow;
  text-align: end;
  padding-right: 5px;
}
