.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.carousel-container {
  height: 250px;
  display: flex;
  margin: 0 5px 20px 5px;
  width: 95vw;
  overflow: hidden;
  flex-wrap: nowrap;
}

.poster-container {
  text-align: center;
}

.poster-img-carousel-similar {
  height: 100%;
  width: 100px;
  margin: 0 10px;
}

.poster-img-carousel {
  height: 100%;
  margin: 0 10px;
}

.carousel-button {
  height: 50px;
  width: 50px;
  background: linear-gradient(0deg, var(--second-color) 0%, #3d90ddbe 75%);
  border: 3px solid black;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.button-container {
  display: flex;
  align-items: center;
}
.arrow {
  height: 25px;
}

.carousel-similar-movies-container {
  height: 150px;
  display: flex;
  margin: 0 10px;
  width: 95vw;
  overflow: hidden;
  flex-wrap: nowrap;
}

.carousel-similar-movies {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

@media screen and (max-width: 960px) {
  .carousel-container {
    height: 200px;
  }
}
@media screen and (max-width: 460px) {
  .carousel-container {
    height: 150px;
  }
  .carousel-button {
    height: 25px;
    width: 25px;
  }
  .arrow {
    height: 15px;
  }
}
