.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.search-input {
  padding: 10px;
  font-size: 16px;
  border-radius: 10px 0 0 10px;
  border: none;
  border-right: solid 1px gray;
  outline: none;
}

.search-button {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 0 10px 10px 0;
  border: none;
  background-color: lightgray;
  color: white;
  cursor: pointer;
}

