@import url("https://fonts.googleapis.com/css2?family=Livvic&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  border: 0;
}
:root {
  --background-color: #01214d;
  --second-color: #07588f;
  --background-color-selected: #0097fb;
  --text-color: #e2efff;
  --font-family: "Livvic", sans-serif;
}
.App {
  background-color: var(--background-color);
}
