header {
  display: flex;
  align-items: flex-start;
  padding: 20px;
}

.logo-container {
  width: 20%;
  text-align: center;
}

.logo-container img {
  width: 150px;
  margin-bottom: 20px;
}

.hero-photo {
  width: 80%;
}

.hero-photo img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
