.change-page-container {
  display: flex;
  justify-content: center;

  margin: 20px;
}

.btn-page {
  background-color: var(--background-color);
  font-family: var(--font-family);
  color: var(--text-color);
  padding: 10px;
}
